*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0d0d0d;
color:#fff;
font-family:Arial,sans-serif;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#111;
border-bottom:3px solid #ffd700;
position:sticky;
top:0;
z-index:1000;
}

.logo{
display:flex;
align-items:center;
gap:12px;
}

.logo img{
width:70px;
height:70px;
border-radius:50%;
border:3px solid #ffd700;
object-fit:cover;
box-shadow:0 0 15px #ffd700;
}

.logo-text h1{
font-size:32px;
color:#ffd700;
}

.logo-text p{
font-size:16px;
color:#ddd;
}

.menu{
font-size:38px;
color:#ffd700;
cursor:pointer;
}

.sidebar{
position:fixed;
top:0;
right:-320px;
width:300px;
height:100%;
background:#1a1a1a;
transition:.3s;
padding-top:80px;
z-index:2000;
}

.sidebar.active{
right:0;
}
.sidebar a{
display:block;
padding:16px 25px;
color:#fff;
text-decoration:none;
font-size:18px;
border-bottom:1px solid #333;
transition:.3s;
}

.sidebar a:hover{
background:#ffd700;
color:#000;
}

.container{
max-width:700px;
margin:30px auto;
padding:15px;
}

.card{
background:#161616;
border:2px solid #ffd700;
border-radius:20px;
padding:25px;
box-shadow:0 0 20px rgba(255,215,0,.25);
}

.card h2{
text-align:center;
color:#ffd700;
margin-bottom:20px;
font-size:36px;
}

.form-box label{
display:block;
margin:15px 0 8px;
font-size:17px;
}

.form-box input{
width:100%;
padding:14px;
border:none;
border-radius:10px;
background:#222;
color:#fff;
font-size:16px;
outline:none;
}

.form-box input[type="file"]{
background:none;
padding:0;
}
